//@import "~bootstrap";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/forms";
//@import "~bootstrap/scss/nav";
//@import "~bootstrap/scss/tables";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/relax.scss";
@import "~noty/src/themes/mint.scss";

//@import "~font-awesome/css/font-awesome.min.css";

@import "~pikaday/scss/pikaday";

//@import "select2";
//@import "~select2/src/scss/core";
//
//@import "~metismenu/src/metisMenu";
