$font-family-base : "Work Sans";

$font-family-sans-serif : "Poppins";

$font-size-base : 0.9rem;

$success : #0c9d58;

$primary : #4185f5;

$warning : #f2b400;

$danger :  #da4536;

$white : #FFFFFF;

$body-bg : #edf4ff;

$dark : #333333;

$input-bg: darken($white, 10%);

$input-border-width: 2px;

$input-border-color: $dark;

$input-focus-bg: $white;

$sidebar-width : 250px;
